@use '/shared/colors' as colors;
@use '/shared/mixins' as mixins;

.section {
    padding: 5px;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid colors.$line;
    background: colors.$bg;
    &:hover{
        border-bottom:  2px solid colors.$line-hover;
    }
    @include mixins.grandTransition();
    @include mixins.grandBorderRadius()
}

.orderID, .dataSection,.contacts, .status, .detail{
    padding: 5px;
    display: flex;
    flex-direction: column;
    span{
        padding: 2px;
        font-size: 0.8rem;
    }
}

.orderID{
    h2{
        font-size: 1rem;
    }
}

.dataSection{
    min-width: 174px;
}

.contacts{
    min-width: 120px;
}

.status {
    select{
        height: 30px;
        border: 0;
        border-bottom: 1px solid colors.$logo;
        outline: none;
        padding: 0 10px;
        @include mixins.grandBorderRadius()
    }
}

.detail{
    a{
        user-select: none;
        text-decoration:underline;
        color: colors.$text;
        &:hover{
            color:colors.$text-hover;
        }
    }
}

@media (max-width: 700px ){
    .section {
        width: 180px;
        flex-direction: column;
        gap: 5px;
    }
}