@use '/shared/configured-styles/colors' as colors;

.navigator{
    display: none;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: colors.$bg;
    div{
        position: relative;
        padding: 10px;
    }
    a{
        color:colors.$link;
    }

}


@media (max-width: 770px) {
    .navigator{
        z-index: 999;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            svg{
                &:active{
                    color: colors.$button-bg
                }
            }
        }
    }

}