.list{
    padding: 20px 0;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    flex-wrap: wrap; 
    gap: 20px;
}

.correct_height{
    max-height: 275px;
}

@media (max-width: 1200px){
    .list{
        grid-template-columns: repeat(4, auto);
    }

    .correct_height{
        max-height: 355px;
    }
}

@media (max-width: 770px){
    .list{
        grid-template-columns: repeat(3, auto);
        gap: 10px;
    }
    .correct_height{
        max-height: 345px;
    }
}

@media (max-width: 570px){
    .list{
        grid-template-columns: repeat(2, auto);
    }

    .correct_height{
        max-height: 525px;
    }
}