@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.search_box{
    z-index: 1001;
    position: relative;
    width: 100%;
    min-width: 365px;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.input{
    width: 100%;
    font-size: 1.2rem;
    height: 40px;
    border: 0;
    border-bottom: 1px solid colors.$logo;
    outline: none;
    padding: 0 55px 0 15px;
    @include mixins.grandBorderRadius(50px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &::placeholder{
        user-select: none;
    }
}
.button{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 5px;
    background-color: colors.$button-bg;
    color: colors.$button-text;
    @include mixins.grandTransition('background-color');
    @include mixins.grandBorderRadius(50px);
    &:hover{
        background-color: colors.$button-bg-hover;
    }
    svg{
        fill: colors.$button-text;
        width: 43px;
        height: 43px;

    }
}

.bg{
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(3, 8, 13, 0.514);
}

@media (max-width: 770px) {
    .content{
        width: 100%;
        max-width: none;
    }
}
