@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.searchBox{
    z-index: 10;
    position: relative;
    width: 100%;
    min-width: 365px;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.input{
    width: 100%;
    font-size: 1.2rem;
    height: 40px;
    border: 0;
    border-bottom: 1px solid colors.$logo;
    outline: none;
    padding: 0 45px 0 15px;
    @include mixins.grandBorderRadius(50px);
    &::placeholder{
        user-select: none;
    }
}
.button{
    position: absolute;
    // width: 54px;
    right: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 5px;
    background-color: colors.$button-bg;
    color: colors.$button-text;
    @include mixins.grandTransition();
    @include mixins.grandBorderRadius(50px);
    &:hover{
        background-color: colors.$button-bg-hover;
    }
    svg{
        fill: colors.$button-text;
    }
}

.bg{
    overflow: hidden;
    z-index: 9;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(3, 8, 13, .32);
}

.content{
    z-index: 10;
    position: absolute;
    top: 75px;
    left: 0;
    padding: 5px;
    max-height: calc(100vh - 200px);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #000;
    gap: 5px;
}

@media (max-width: 770px) {
    .content{
        width: 100%;
        max-width: none;
    }
}
