@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.searchBox{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.input{
    width: 100%;
    font-size: 1.2rem;
    height: 40px;
    border: 0;
    border-bottom: 1px solid colors.$logo;
    outline: none;
    padding: 0 45px 0 15px;
    @include mixins.grandBorderRadius(50px);
    &::placeholder{
        user-select: none;
    }
}
.button{
    position: absolute;
    // width: 54px;
    right: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 5px;
    background-color: colors.$button-bg;
    color: colors.$button-text;
    @include mixins.grandTransition();
    @include mixins.grandBorderRadius(50px);
    &:hover{
        background-color: colors.$button-bg-hover;
    }
    svg{
        fill: colors.$button-text;
    }
}
