@use '/shared/colors' as colors;

.section{
    width: 90%;
    max-width: 600px;
    min-width: 340px;
    background-color: colors.$bg;
    border-radius: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.content{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navigation {
    color: colors.$text;
    display: flex;
    padding: 10px;
    width: 300px;
    gap: 30px;
    h3{
        cursor: pointer;
        &:hover{
            color: colors.$text-hover;
        }
    }
}

.active{
    color: colors.$text-active;
}

.notActive {
    user-select: none;
}

.activeZone{
    width: 100%;
    display: block;
}

.hiddenZone{
    display: none;
}