.list{
    padding: 20px 0;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    flex-wrap: wrap; 
    gap: 10px;
}

.correct_height{
    max-height: 385px;
}

@media (max-width: 1200px){
    .list{
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, 1fr);
    }

    .correct_height{
        max-height:  465px;
    }
}

@media (max-width: 770px){
    .list{
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 570px){
    .list{
        grid-template-columns: repeat(2, auto);
    }

    .correct_height{
        height:  765px;
        max-height: 765px;
    }
}