@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    min-width: 375px;
    background-color: colors.$bg-transparent;
    padding-bottom: 5px;
    @include mixins.grandBorderRadius();
    overflow: hidden;
}

.header_section {
    width: 100%;
    padding: 20px;
    max-height: 68px;
    background-color: colors.$bg;
    @include mixins.grandBorderRadius(15px 15px 0 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-size: 1.5rem;
    }
}

.link {
    color: colors.$link-alt;
    @include mixins.grandTransition('color');
    &:hover{
        color: colors.$link-alt-hover
    }
}

.link_button{
    font-size: 1.2rem;
    font-weight: 600;
    background: colors.$bg;
    padding: 10px 20px;
    @include mixins.grandBorderRadius();
    @include mixins.grandTransition('background-color');
    background-color: colors.$button-bg;
    color: colors.$button-text;
    &:hover{
        background-color: colors.$button-bg-hover;
    }
}

.show_link{
    display: none;
}

@media (max-width: 1199px) {
    .section {
        max-width: 770px;
    }

    .show_link{
        z-index: 499;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
        align-items: center;
        background: colors.$bg;
        background: linear-gradient(0deg, rgba(245,245,245,0) 0%, colors.$bg 95%);
    }
}

@media (max-width: 770px) {
    .section {
        max-width: 570px;
    }
}

@media (max-width: 570px) {
    .section {
        max-width: 375px;
    }

    .short {
        max-height: 762px;
    }
}