@use '/shared/mixins' as mixins;
.orderList{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 2px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
}

@media (max-width: 820px ){
    .orderList{
        grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
        gap: 5px;
        width: 375px;
    }
}