.section{
    padding: 10px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 1199px){
    .section{
        width: 800px;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }
}

@media (max-width: 799px){
    .section{
        padding: 5px;
        width: 375px;
        grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
        gap: 5px;
    }
}