@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.section{
    width: 100%;
    flex:1;
    max-width: 690px;
    min-width: 340px;
    background-color: colors.$bg;
    padding: 10px;
    @include mixins.grandBorderRadius();
    pre{
        text-align: justify;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
        code {
            // white-space: pre-wrap;
            // word-wrap: break-word;
        }
}

.content{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navigation {
    color: colors.$text;
    display: flex;
    padding: 10px;
    width: 300px;
    gap: 15px;
    h3{
        @include mixins.grandTransition();
        cursor: pointer;
        &:hover{
            color: colors.$text-hover;
        }
    }
}

.active{
    color: colors.$text-active;
}

.notActive {
    user-select: none;
}

.activeZone{
    width: 100%;
    display: block;
}

.hiddenZone{
    display: none;
}

@media (max-width: 1130px){
    .section{
        width: 690px;
    }
}

@media (max-width: 784px){
    .section{
        width: 100%;
        max-width: 340px;
    }
}