@use '/shared/colors' as colors;
.swiper {
    user-select: none;
    margin: 0!important;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    img {
        object-fit: cover;
    }
    :global(.swiper-pagination-bullet-active) {
        background-color: colors.$bg;
        border: 1px solid colors.$link;
    }
}
