.section{
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    // gap: 8px;
    flex-wrap: wrap;
}

@media (max-width: 1199px){
    .section{
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 799px){
    .section{
        padding: 5px;
        grid-template-columns: repeat(2, auto);
    }
}