.section, .skeleton{
    padding: 0 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    flex-wrap: wrap;
    article{
        margin: 8px;
    }
}

@media (max-width: 1199px) {
    .section,.skeleton {
        grid-template-columns: repeat(4, auto);
        article{
            margin: 3px;
        }
    }
}

@media (max-width: 770px) {
    .section ,.skeleton{
        gap: 0;
        padding: 1px;
        grid-template-columns: repeat(3, auto);
        article{
            margin: 3px;
        }
    }
}

@media (max-width: 570px) {
    .section ,.skeleton{
        gap: 0;
        padding: 1px;
        grid-template-columns: repeat(2, auto);
        article{
            margin: 3px;
        }
    }
}
