@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.footer{
    width: 100%;
    background-color: colors.$bg;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 30px 10px;
}

.map, .contacts,.socials{
    width: 100%;
    max-width: 340px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5px;
    h4{
        padding: 10px 0;
    }
}

.map{
    img{
        object-fit: cover;
        color: #ff7300
    }
}

.leftSide , .rightSide{
    display: flex;
    justify-content: center;
}

.contacts{
    p{
        padding: 5px 10px;
        font-weight: 700;
        a{
            color: colors.$contacts;
            @include mixins.grandTransition();
            &:hover{
                color: colors.$contacts-hover;
            }
        }
    }
}

.icons {
    padding: 5px;
    display: flex;
    height: 52px;
    a{
        display: block;
        height: auto;
        padding: 5px;
    }
}

@media (max-width: 900px) {
    .leftSide{
        display: flex;
        flex-direction: column-reverse;
    }
    .map, .contacts,.socials{
        width: 100%;
    }
}

@media (max-width: 770px) {
    .footer{
        margin-bottom: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}