@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.more {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.more_string {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid colors.$line-aboutProduct;
    padding: 10px 0;
    font-size: 0.8rem;
}

.type {
    font-weight: 700;
}

.type__category {
    font-weight: 700;
}

.property__link{
    color: colors.$link-alt;
    @include mixins.grandTransition('color');
    &:hover{
        color: colors.$link-alt-hover;
    }
}
