$logo-color: #380f0f;
$bg-color: #f5f5f5;
$link-color: #000;
$button-color: #b80000;
$button-color-hover: #d40000;
$button-text-color: #fff;
$card-accent-color: #d40000;
$price-text-color: #b80000;
$border-sale-color: gold;
$notactive-text: gray;