$logo: #380f0f;
$bg: #f5f5f5;
$link: #000;
$link-alt: #b80000;
$link-alt-hover: #d40000;
$bg-inputs: #fff;
$bg-default: #fff;

$bg-not-found: #d40000;
$bg-link-not-found: #f5f5f5;
$color-link-not-found: #d40000;

$contacts: #b80000;
$contacts-hover: #d40000;

$text: #000;
$text-reverse: #fff;
$text-hover: #d40000;
$text-active: #b80000;

$button-bg: #b80000;
$button-bg-hover: #d40000;
$button-text: #fff;
$button-basket-link: #13af47;
$button-basket-link-hover: #26c95c;

$card-accent: #d40000;

$delete-story: #d40000;
$delete-story-hover: #b80000;
$delete-story-accent: #d40000;

$price-text: #b80000;
$notactive-text: gray;

$sale-border: gold;
$sale-bg: #b80000;
$sale-text:#fff;
$promo-bg: #f0ec00;
$promo-text: #000;

$point-basket-bg: #b80000;
$point-basket-text:#fff;

$line-aboutProduct: #bebebe;
$line: #bebebe;
$line-hover: #d40000;
$line-focus: #d40000;

$breadcrumbs: #001a34a6;
$breadcrumbs-hover: #001427