@mixin grandTransition($properties: "all", $duration: 0.3s) {
    transition: #{$properties} $duration;
    -webkit-transition: #{$properties} $duration;
    -moz-transition: #{$properties} $duration;
    -ms-transition: #{$properties} $duration;
    -o-transition: #{$properties} $duration;
}

// @include mixins.grandTransition();

@mixin grandBorderRadius($radius : 15px) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

// @include mixins.grandBorderRadius();


@mixin hover() {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    &:active {
        @content;
    }

    &:focus-visible {
        outline: 2px solid var(--additional-indigo);
        @content;
    }
}

@mixin mobile() {
    @media (max-width: 440px) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: 770px) {
        @content;
    }
}