.page_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page{
    padding: 0 0 60px 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
     gap: 10px;
}

.left_side{
    position: relative;
    width: 340px;
    height: 340px;
}
.h2{
    text-align: start;
    width: auto;
    word-wrap: break-word;
}

.center_side{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 690px;
}

.right_side{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1400px){
    .page{
        flex-wrap: wrap;
        align-items:start;
        justify-content: center;
    }
    .center_side{
        order: 1;
    }
}
@media (max-width: 784px){
    .center_side{
        width: 340px;
    }
}