@use '/shared/configured-styles/colors' as colors;
@use '/shared/configured-styles/mixins' as mixins;

.section,
.skeleton {
    width: 340px;
    padding: 10px;
    height: 112px;
    h3 {
        font-size: 0.9rem;
        padding: 10px;
    }

}

.nutritional_box {
    display: flex;
    height: 56px;
    gap: 15px;
    border-top: 2px solid colors.$line-aboutProduct;
    border-bottom: 2px solid colors.$line-aboutProduct;
    div {
        padding: 10px;
    }
}

.skeleton {
    user-select: none;
    .nutritional_box {
        span {
            padding: 10px;
        }
    }
}

.value {
    font-weight: 700;
}

.text {
    font-size: 0.8rem;
}
