@use '/shared/colors' as colors;
.article , .skeleton{
    overflow: hidden;
    position: relative;
    padding: 0px 10px 10px 10px;
    width: 180px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$bg;
    transition: 0.3s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    a{
        text-decoration: none;
        color: colors.$link;
    }
}

.skeleton{
    user-select: none;
    &:hover{
        box-shadow: none;
    }
    figure{
        border-radius: 15px;
        overflow: hidden;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

.article:hover{
    box-shadow: 0px 2px colors.$card-accent;
}
.figure{
    width: 180px;
    height: 180px;
}

.header{
    display: flex;
    max-width: 160px;
    height: auto;
    overflow-x: hidden;
    a{
        display: inline-block;
        h2{
            font-size: 1.1rem;
            font-weight: 400;
            text-overflow: ellipsis;
            line-clamp: 1;
            white-space: nowrap;
            max-width: 160px;
            overflow: hidden;
        }
    }
}


.section {
    .totalPrice{
        color: colors.$price-text;
        font-size: 20px;
        font-weight: 700;
    }
    .oldPrice{
        text-decoration: line-through;
        font-size: 14px;
        color: colors.$notactive-text;
    }
}


.footer{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        cursor: pointer;
        width: 100%;
        background-color: colors.$button-bg;
        color: colors.$button-text;
        border: 0;
        min-width: 25px;
        padding: 5px 10px;
        transition: 0.3s;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-tap-highlight-color: transparent;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    button:hover{
        background-color: colors.$button-bg-hover;
    }

    input{
        border-radius: 10px;
        // border: 1px solid colors.$card-accent-color;
        border: 0;
        min-width: 80px;
        padding: 5px;
        text-align: center;
        margin: 0 5px;
        outline:none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

.sale ,.promotionTag {
    user-select: none;
    z-index: 10;
    position: absolute;
    right: 4px;
    width: auto;
    max-width: 160px;
    text-align: center;
    padding: 3px 7px;
    font-weight: 700;
    font-size: 0.67rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.sale{
    top: 4px;
    color: colors.$sale-text;
    background-color: colors.$sale-bg;
}

.promotionTag{
    top: 25px;
    color: colors.$promo-text;
    background-color: colors.$promo-bg;
}

