@use '/shared/colors' as colors;
.article , .skeleton{
    position: relative;
    padding: 10px;
    width: 180px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$bg-color;
    transition: 0.3s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    a{
        text-decoration: none;
        color: colors.$link-color;
    }
}

.skeleton{
    user-select: none;
    &:hover{
        box-shadow: none;
    }
}

.article:hover{
    box-shadow: 0px 2px colors.$card-accent-color;
}


.header{
    max-width: 160px;
}

.h2{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    line-clamp: 2;
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden;
}

.section {
    .totalPrice{
        color: colors.$price-text-color;
        font-size: 20px;
        font-weight: 700;
    }
    .oldPrice{
        text-decoration: line-through;
        font-size: 14px;
        color: colors.$notactive-text;
    }
}


.footer{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        cursor: pointer;
        width: 100%;
        background-color: colors.$button-color;
        color: colors.$button-text-color;
        border: 0;
        min-width: 25px;
        padding: 5px 10px;
        transition: 0.3s;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    button:hover{
        background-color: colors.$button-color-hover;
    }

    input{
        border-radius: 10px;
        // border: 1px solid colors.$card-accent-color;
        border: 0;
        min-width: 80px;
        padding: 5px;
        text-align: center;
        margin: 0 5px;
        outline:none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}

.sale{
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 0;
    width: 70px;
    text-align: center;
    padding: 4px;
    color: colors.$button-text-color;
    background-color: colors.$button-color;
    font-weight: 700;
    font-size: 0.7rem;
    border-radius: 30px;
    transform: rotate(20deg);
    border: 1px solid colors.$border-sale-color;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}