@use '/shared/configured-styles/colors' as colors;

.header {
    // z-index: 999;
    // position: sticky;
    // top: 0;
    width: 100%;
    min-width: 375px;
    height: 60px;
    background-color: colors.$bg;
    display: flex;
    justify-content: space-between;

    section{
        width: 50%;
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1140px;
    }

    .rightSide{
        width: 240px;
        display: flex;
        justify-content: end;
        align-items: center;

        a{
            position: relative;
            padding: 10px;
            color: colors.$link;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                color: colors.$link;
            }
        }
    }

    .leftSide{
        width: 240px;
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        
        a{
            color: colors.$logo;
            padding: 10px;
        }
    }


}

@media (max-width: 770px) {
    .header{
        justify-content: center;
        .center{
            width: 100%;
            padding: 0 10px;
            min-width: 375px;
        }
        .rightSide{
            display: none;
        }
        .leftSide{
            display: none;
        }
    }
}