@use '/shared/configured-styles/mixins' as mixins;
.section {
    width: 100%;
    max-width: 1180px;
    padding: 10px;
    height: 140px;
    padding: 10px;
    @include mixins.grandBorderRadius();
    overflow: hidden;
}

.skeleton {
    height: 100%;
    @include mixins.grandBorderRadius();
    overflow: hidden;
}

@media (max-width: 1199px) {
    .section,.skeleton {
        max-width: 764px;
    }
}

@media (max-width: 770px) {
    .section,.skeleton {
        padding: 4px;
        max-width: 375px;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}
