@use '/shared/colors' as colors;

.span{
    position: absolute;
    text-align: center;
    left: 61%;
    top: 0;
    padding: 2px 4px;
    width: auto;
    height: 14px;
    background-color: colors.$point-basket-bg;
    color: colors.$point-basket-text;
    font-size: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}